body {
  font-family: arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: arial, sans-serif;
}

.vis-header {
  overflow: hidden;
  width: 100%;
}

.vis-header > img {
  width: 100%;
  height: auto;
}

.bs-trim {
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.spaced-list > li {
  margin-bottom: 5px;
}

.icon-list {
  text-align: center;
}

.icon-list > div {
  display: inline-block;
  margin: auto 10px;
}

.icon-list p {
  text-align: center !important;
}

.round-icon {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #808080;
}

.round-icon:hover {
    opacity: 0.7
}
